
#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* Archivo App.css */
.background{
  background: linear-gradient(to bottom, #4A90E2, #34495E);


}


.Header_Weather{
  display: flex;
  justify-content:center;
  align-items: center;

}

.Header_Weather h2 {
  opacity: 0; /* Inicia invisible */
  transition: opacity 0.5s ease-in-out; /* Suaviza el efecto de aparición */
}

.Header_Weather h2.fade-in {
  opacity: 1; /* Aparece con opacidad completa */
}

.de{
  display: flex;
  justify-content: center;
  align-items: center;
}